/**
 * Editor Style
 *
 * @package ThisWriteOnly
 */

/* Noto Sans JP */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

.editor-styles-wrapper {
    font-family: "Noto Sans JP", -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 18px;
    line-height: 2;
    color: #333;
    background: #fafafa;
    -webkit-font-smoothing: antialiased;
}

.editor-styles-wrapper .wp-block {
    max-width: 680px;
}

.editor-styles-wrapper h1,
.editor-styles-wrapper h2,
.editor-styles-wrapper h3,
.editor-styles-wrapper h4 {
    font-weight: 700;
    line-height: 1.4;
    color: #333;
}

.editor-styles-wrapper h2 {
    font-size: 24px;
    margin-top: 48px;
    padding-top: 24px;
    border-top: 1px solid #e8e8e8;
}

.editor-styles-wrapper h3 {
    font-size: 18px;
    margin-top: 32px;
}

.editor-styles-wrapper p {
    margin-bottom: 24px;
}

.editor-styles-wrapper a {
    color: #0066cc;
    text-decoration: underline;
}

.editor-styles-wrapper blockquote,
.editor-styles-wrapper .wp-block-quote {
    margin: 24px 0;
    padding: 24px;
    background: #fff;
    border-left: 3px solid #0066cc;
    border-radius: 4px;
}

.editor-styles-wrapper code {
    background: #fff;
    padding: 2px 6px;
    border-radius: 3px;
    font-size: 0.9em;
}

.editor-styles-wrapper pre,
.editor-styles-wrapper .wp-block-code {
    background: #1e1e1e;
    color: #d4d4d4;
    padding: 24px;
    border-radius: 4px;
    font-size: 14px;
}

.editor-styles-wrapper img {
    border-radius: 4px;
}

.editor-post-title__input {
    font-family: "Noto Sans JP", sans-serif !important;
    font-size: 32px !important;
    font-weight: 700 !important;
    color: #333 !important;
}
